@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer responsive {
    .cbox {
      align-items: stretch;
      background-color: rgba(0, 0, 0, 0);
      border: 0 solid black;
      box-sizing: border-box;
      display: flex;
      flex-basis: auto;
      flex-direction: column;
      flex-shrink: 0;
      list-style: none;
      margin: 0px;
      min-height: 0px;
      min-width: 0px;
      padding: 0px;
      position: relative;
      text-decoration: none;
      z-index: 0;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .glass-effect {
      background: rgba(
        255,
        255,
        255,
        0.25
      ); /* White background with transparency */
      border-radius: 10px; /* Rounded corners */
      backdrop-filter: blur(10px); /* Blurry effect */
      -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
      border: 1px solid rgba(255, 255, 255, 0.18); /* Optional: adds a subtle border */
    }
  }
}

@layer base {
  :root {
    --color-bg: 0 0 0;
    --color-bg-2: 22 24 28;
    --color-bg-3: 32 35 39;
    --color-text-main: 231 233 234;
    --color-text-dimmed: 113 118 123;
    --color-border: 83 100 113;
    --color-dark: 255 255 255;
    --color-backdrop: 36 45 55;

    --color-blue: 29 155 240;
    --color-green: 0 186 124;
    --color-red: 249 24 128;

    --color-accent: 29 155 240;
    --color-accent-hover: 26 140 216;
  }

  [data-theme="dark"] {
    --color-bg: 0 0 0;
    --color-bg-2: 22 24 28;
    --color-bg-3: 32 35 39;
    --color-text-main: 231 233 234;
    --color-text-dimmed: 113 118 123;
    --color-border: 83 100 113;
    --color-dark: 255 255 255;
    --color-backdrop: 36 45 55;
  }

  [data-theme="light"] {
    --color-bg: 255 255 255;
    --color-bg-2: 247 249 249;
    --color-bg-3: 239 243 244;
    --color-text-main: 15 20 25;
    --color-text-dimmed: 83 100 113;
    --color-border: 239 243 244;
    --color-dark: 0 0 0 0;
    --color-backdrop: 163 163 163;
  }

  [data-theme="dim"] {
    --color-bg: 21 32 43;
    --color-bg-2: 30 39 50;
    --color-bg-3: 39 51 64;
    --color-text-main: 247 249 249;
    --color-text-dimmed: 139 152 165;
    --color-border: 83 100 113;
    --color-dark: 255 255 255;
    --color-backdrop: 50 65 81;
  }

  /* Accent Colors */
  [data-accent="purple"] {
    --color-accent: 120 86 255;
    --color-accent-hover: 108 77 230;
  }

  [data-accent="blue"] {
    --color-accent: 29 155 240;
    --color-accent-hover: 26 140 216;
  }

  [data-accent="yellow"] {
    --color-accent: 255 212 0;
    --color-accent-hover: 230 190 0;
  }

  [data-accent="red"] {
    --color-accent: 249 24 128;
    --color-accent-hover: 224 22 115;
  }

  [data-accent="orange"] {
    --color-accent: 255 122 0;
    --color-accent-hover: 230 110 0;
  }

  [data-accent="green"] {
    --color-accent: 0 186 124;
    --color-accent-hover: 0 167 122;
  }
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  border: 0px solid black;
}

.progress-ring__circle {
  stroke-dasharray: 400, 400;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.clip-progress-half {
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 50%);
}

input,
input:focus {
  border: none;
  overflow: auto;
  outline: none;
  background: transparent;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

textarea,
textarea:focus {
  border: none;
  overflow: auto;
  outline: none;
  background: transparent;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}
